@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
          
    --cor-destaque: #C92071;
    --cor-gradiente-primaria: #B5B6F2;
    --cor-branca: #FFFFFF;
    --cor-gradiente-secundaria: #EFEFFF;
    --cor-titulo: #1F1F1F;
    --cor-paragrafo: #474747;
    --cor-entrada: #47474710;
    --cor-entrada-texto: #66666685;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    color: var(--cor-paragrafo);
}

html, body {
    height: 100%;
}

header {
    div {
        width: 11.125rem; height: 4rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2725rem;

        span {
            font-weight: 600;
            font-size: 19.85px;
            color: var(--cor-destaque);
        }
    }
}

main {
    padding: 3.9375rem 0 5rem;
    background: linear-gradient(
        var(--cor-gradiente-primaria),
        var(--cor-gradiente-secundaria)
        );

    form{
        width: 19.6875rem;
        height: 35.75rem;
        margin: 0 auto;
        background-color: var(--cor-branca);
        padding: 1.875rem;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        
        .titulo{

            h1{
                font-size: 1.375rem;
                letter-spacing: .125rem;
                text-align: center;
                color: var(--cor-titulo);
                line-height: 2.125rem;
            }

            p{
                font-size: .875rem;
                letter-spacing: .0156rem;
                text-align: center;
            }
        }

        .entrada{
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
            div{
                

                label{
                    font-size: .75rem;
                    font-weight: 700;
                    letter-spacing: .0469rem;
                    line-height: 1.5rem;
                }

                input{
                    width: 100%;
                    background-color: var(--cor-entrada);
                    border: none;
                    border-radius: .5rem;
                    line-height: 28px;
                    letter-spacing: .7504px;
                    padding: 1rem .75rem;
                    font-size: 1rem;
                    margin-top: .3125rem;

                    &::placeholder {
                        color: var(--cor-entrada-texto);
                    }

                    &:focus {
                        outline-color: var(--cor-destaque);
                    }
                }
            }
        }

        .recuperação{
            font-size: .875rem;
            font-weight: 500;
            line-height: 1.375rem;
            letter-spacing: .0156rem;
        }

        button{
            height: 3rem;
            border: none;
            border-radius: .5rem;
            background-color: var(--cor-destaque);
            color: var(--cor-branca);
            font-weight: 700;
            letter-spacing: .0469rem;
            font-size: 1rem;
        }
    }
}